{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reviews{% endblock %}

{% block content %}
<!-- Display messages -->
        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
          <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block btn-success mt-3">Submit Review</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'review_list' %}" class="btn btn-dark btn-lg mx-2">Back to Reviews</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
