{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reviews{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Reviews</h1>
    <div class="list-group">
        {% for review in reviews %}
            <div class="list-group-item">
                <h5 class="mb-1">{{ review.reviewer_name }}</h5>
                <p class="mb-1">{{ review.comment }}</p>
                <small class="text-muted">Rating: {{ review.rating }}</small>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'add_review' %}" class="btn btn-success mt-3">Add Review</a>
    <a href="{% url 'homepage' %}" class="btn btn-dark  mt-3">Back to HomePage</a>
</div>
{% endblock %}