{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Our Staff{% endblock %}

{% block content %}
<h1>Our Staff</h1>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for i in staff_members %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.position }}</td>
                <td>{{ i.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <a href="{% url 'add_staff' %}" class="btn btn-success mt-3">Add Staff</a>
    <a href="{% url 'homepage' %}" class="btn btn-dark  mt-3">Back to HomePage</a>
</div>
{% endblock %}