{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pizza Restaurant</h1>
    <p class="lead">Your favorite place to order delicious Pizzas.</p>
    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-success" href="{% url 'menu' %}" role="button">Go to Menu</a>
    </p>

    {% if user.is_authenticated %}
        <p>
            <a class="btn btn-primary btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
        </p>
    {% endif %}

</div>
</div>

{% endblock %}