{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pizza Restaurant</h1>
    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-success" href="{% url 'menu' %}" role="button">Go to Menu</a>
    </p>


    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% endif %}

<div class="pagination mt-4">
    {% if is_paginated %}
    <ul class="pagination" >
        {% if pizzas.has_previous %}
     <li class="page-item"><a class="page-link" href="?page={{pizzas.previous_page_number}}">Previous</a></li>
        {% endif %}

     <li class="page-item"><a class="page-link" href="#"> {{pizzas.number}}</a></li>
     <li class="page-item active"><a class="page-link" href="#">2</a></li>
     <li class="page-item"><a class="page-link" href="#">3</a></li>

        {% if pizzas.has_next %}
     <li class="page-item"><a class="page-link" href=="?page={{pizzas.next_page_number}}">Next</a></li>
         {% endif %}

        {% endif %}
  </ul>

</div>
</div>

{% endblock %}