{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <h1>Welcome to Pizza Restaurant</h1>
            <p>Login to order Pizza</p>
            {% if user.is_authenticated %}
                <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-success">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}





